@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Custom colors */
  --color-dark: #1b1b1b;
  --color-light: #f5f5f5;
  --color-primary: #B63E96;
  --color-primaryDark: #58E6D9;
}


 @media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} 

/* Define keyframe animation */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Create utility class */
@layer utilities {
  .animate-spin-slow {
    animation: spin-slow 6s linear infinite;
  }
  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  
  
}

body {
  background: var(--color-light);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
