@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-dark: #1b1b1b;
  --color-light: #f5f5f5;
  --color-primary: #FEF3C7;
  --color-primaryDark: #58E6D9;
  --color-orange-400: #fb923c;
  --color-orange-600: 	#ea580c; 
}

/* When .dark class is on <html>, SWAP the values */
.dark {
  --color-light: #1b1b1b;  /* light becomes dark */
  --color-dark: #f5f5f5;   /* dark becomes light */
  --color-orange-400: #9a3412 ; 
  --color-orange-600: 	#c2410c ; 
  --color-primary: #e5cd70; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Reference the CSS variables - don't hardcode! */
  --color-light: var(--color-light);
  --color-dark: var(--color-dark);
  --color-primary: var(--color-primary);
  --color-primaryDark: var(--color-primaryDark);
  --color-orange-400: var(--color-orange-400);
  --color-orange-600: var(--color-orange-600);
}

/* Define keyframe animation */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Create utility class */
@layer utilities {
  .animate-spin-slow {
    animation: spin-slow 8s linear infinite;
  }
}

body {
  font-family: 'Space Grotesk', 'Inter', Arial, sans-serif;
}
