@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-dark: #1b1b1b;
  --color-dark-200: #1f1f23;
  --color-dark-300: #27272a;
  --color-light: #f5f5f5 ; 
  --color-primary: #374151;
  --color-primaryDark: #58E6D9;
  --color-orange-400: #fb923c;
  --color-orange-600: 	#ea580c; 
 
  --color-sand: #F87060 ; 
  --color-dblue: #102542 ; 
  --color-gray-400: #9ca3af ; 
}


.dark {
  --color-light: #1b1b1b; 
  --color-dark: #f5f5f5;   
  --color-dark-200: #1f1f23;
  --color-dark-300: #27272a;
  --color-orange-400: #9a3412 ; 
  --color-orange-600: 	#c2410c ; 
  --color-primary: #FEF3C7; 
  --color-sand: #102542 ; 
  --color-dblue : #F87060 ; 
  --color-gray-400: #0d0d0d; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Reference the CSS variables - don't hardcode! */
  --color-light: var(--color-light);
  --color-dark: var(--color-dark);
  --color-dark-200: var(--color-dark-200);
  --color-dark-300: var(--color-dark-300);
  --color-primary: var(--color-primary);
  --color-primaryDark: var(--color-primaryDark);
  --color-orange-400: var(--color-orange-400);
  --color-orange-600: var(--color-orange-600);
  --color-sand: var(--color-sand);
  --color-dblue: var(--color-dblue);
  --color-orange: var(--color-orange);
  --color-gray-400: var(--color-gray-400);
}

/* Define keyframe animation */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} ;
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Create utility class */
@layer utilities {
  .animate-spin-slow {
    animation: spin-slow 8s linear infinite;
  }
}

body {
  font-family: 'Space Grotesk', 'Inter', Arial, sans-serif;
}


